<h1>Listing pictures</h1>

<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
   <!-- <% @pictures.each do |picture| %>
      <tr>
        <td><%= image_tag picture.image_url.to_s %></td>
        <td><%= link_to 'Show', picture %></td>
        <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
        <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>-->

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
          <% @pictures.each do |picture| %>
            <li data-target="#carousel-example-generic" data-slide-to="picture.ID" class="active"></li>
          <% end %>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
          <div class="item active">
              <% @pictures.each do |picture| %>
              <img src=<%= image_tag picture.image_url.to_s %> alt=picture.description>
              <div class="carousel-caption">
                <h3><%= picture.title %></h3>
                <p><%= picture.description %></p>
              </div>
              <% end %>
          </div>
          ...
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
  </div>

  </tbody>
</table>

<br>

<%= link_to 'New Picture', new_picture_path %>
